/*CSS DOCUMENT*/

body {
	font-family: sans-serif;
	line-height: 1.4em;
	color: #222;
	background-color: #fafafa;
	margin: 0em 1.5em 0em 1.5em;
	box-sizing: border-box;

}

img {
	width: 100%;
}

header {
	flex-basis: 100%;
  	margin-bottom: 0em;
}

article {
  	flex-direction: column;
  	flex: 2 1 0em;

}

h1 {
	font-size: 2em;
	margin-bottom: 0.5em;
}

h2 {
	font-size: 1.5em;
	margin: 0.5em 0;
}

h3 {
	font-size: 1.2em;
	margin-top: 1em;
	margin: 0em;
	color: #222;
	text-decoration: none;

}

section p {
  margin: 0em;
  color: #222;
}

div.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 60 em;
  margin: auto;

}


aside {
  display: flex;
  flex-direction: column;
  flex: 1 1 0em;

}

section {
  background-color: #f2f2f2;
  margin: 0em 1em 1em 1em;
  padding: 1em;

}

section figure {
	padding-bottom: 1em;

}

section h3 {
	margin-top: 1em;
	margin: 0;

}

figure {
	margin: 0;

}

footer {
	margin-top: 2em;
	border-top: 1px solid rgb(0 0 0);
	flex-basis: 100%;
	color: #222;

}

a {
	text-decoration: none;
	flex: 1 0 8em;
	flex-wrap: wrap;
	color: #222;

}

ol {
	padding-left: 0em;

}